---
import { Item, ItemContent, ItemMedia, ItemTitle } from "@/components/ui/item";
import {
  BadgeDollarSign,
  FolderTree,
  RefreshCcw,
  QrCode,
  Image,
  Video,
  Mic,
} from "lucide-react";

const capabilities = [
  {
    icon: Image,
    text: "Add beautiful photos to every dish",
  },
  {
    icon: Video,
    text: "Share short videos of preparation or plating",
  },
  {
    icon: Mic,
    text: "Let chefs explain ingredients and inspiration",
  },
  {
    icon: QrCode,
    text: "Access instantly via QR code or link",
  },
];
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-xl font-medium">Designed for Craft</h2>
  <ul class="max-w-sm mx-auto">
    {
      capabilities.map((capability) => (
        <li class="mb-2">
          <Item variant="outline" size="sm" className="bg-background">
            <ItemMedia>{<capability.icon className="size-4" />}</ItemMedia>
            <ItemContent>
              <ItemTitle>{capability.text}</ItemTitle>
            </ItemContent>
          </Item>
        </li>
      ))
    }
  </ul>
</section>
