---
import { Item, ItemContent, ItemMedia, ItemTitle } from "@/components/ui/item";
import { BadgeDollarSign, FolderTree, RefreshCcw, QrCode } from "lucide-react";

const capabilities = [
  // "Showcase your products with images and descriptions",
  { icon: BadgeDollarSign, text: "Display prices clearly for each item" },
  {
    icon: FolderTree,
    text: "Organize items into categories for easy browsing",
  },
  {
    icon: RefreshCcw,
    text: "Update your menu in real-time from any device",
  },
  {
    icon: QrCode,
    text: "Share your menu via a simple link or QR code",
  },
];
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-lg">Capabilities</h2>
  <ul class="">
    {
      capabilities.map((capability) => (
        <li class="mb-2">
          <Item variant="outline" size="sm">
            <ItemMedia>{<capability.icon className="size-4" />}</ItemMedia>
            <ItemContent>
              <ItemTitle>{capability.text}</ItemTitle>
            </ItemContent>
          </Item>
        </li>
      ))
    }
  </ul>
</section>
