---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
import { CircleCheck } from "lucide-react";
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-xl font-medium">Pricing</h2>
  <Card className="mx-auto sm:max-w-sm">
    <CardHeader>
      <CardTitle className="text-xl">Pro</CardTitle>
      <CardDescription>
        Elevate your menus and delight your guests.
      </CardDescription>
    </CardHeader>
    <CardContent>
      <div class="flex items-end gap-1 mb-6">
        <span class="font-medium text-3xl inline-flex items-center"
          ><span class="text-lg">$</span>25</span
        >
        <span class="text-muted-foreground text-sm">per month, per menu</span>
      </div>
      <a
        href="https://app.menunook.com"
        class="bg-neutral-950 text-white px-4 py-2 block text-center rounded-lg hover:bg-neutral-800 transition text-sm w-full"
      >
        Get Started
      </a>
    </CardContent>
    <CardFooter className="flex-col items-start gap-2">
      <p class="text-xs text-muted-foreground">What's included:</p>
      <ul>
        <li class="text-sm flex items-center gap-1">
          <CircleCheck className="size-4 bg-pink-600/5" />Unlimited menus,
          dishes, and media
        </li>
        <li class="text-sm flex items-center gap-1">
          <CircleCheck className="size-4" />Access to new features and
          improvements
        </li>
        <li class="text-sm flex items-center gap-1">
          <CircleCheck className="size-4" />Email support
        </li>
      </ul>
    </CardFooter>
  </Card>
</section>
