---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-lg">Pricing</h2>
  <Card className="mx-auto sm:max-w-md">
    <CardHeader className="text-center">
      <CardTitle>Pro</CardTitle>
      <CardDescription>
        Built for pop-ups and small-batch makers.
      </CardDescription>
    </CardHeader>
    <CardContent className="text-center flex flex-col gap-2">
      <div class="flex items-baseline justify-center">
        <span class="text-lg text-accent-foreground self-start">$</span>
        <span class="font-medium text-3xl">5</span>
        <span class="text-accent-foreground text-sm">/month</span>
      </div>
      <span class="text-muted-foreground text-sm"> Manage up to 20 menus </span>
    </CardContent>
    <CardFooter>
      <a
        href="https://app.menunook.com"
        class="bg-neutral-950 text-white px-4 py-2 rounded-lg hover:bg-neutral-800 transition text-sm mx-auto"
      >
        Create your first menu
      </a>
    </CardFooter>
  </Card>
</section>
