---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "./ui/card";
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-lg">Pricing</h2>
  <Card className="mx-auto sm:max-w-md">
    <CardHeader className="text-center">
      <CardTitle>Pro Plan</CardTitle>
      <CardDescription> One menu. One price. No surprises. </CardDescription>
    </CardHeader>
    <CardContent className="text-center">
      <span class="font-medium text-2xl block">$5</span>
      <span class="text-muted-foreground text-sm">Per menu, per month</span>
    </CardContent>
    <CardFooter>
      <a
        href="https://app.menunook.com"
        class="bg-neutral-950 text-white px-4 py-2 rounded-full hover:bg-neutral-800 transition text-sm mx-auto"
        >Create Your Menu</a
      >
    </CardFooter>
  </Card>
</section>
