<section class="my-28 px-4 max-w-lg mx-auto text-center">
  <div class="space-y-2">
    <h2 class="text-lg font-medium">
      Less back-and-forth and confusion. <br />More ready-to-buy customers.
    </h2>
    <p class="text-neutral-700 font-light">
      MenuNook gives you one simple page to share so people can check first,
      then message you <em>ready to order</em>.
    </p>
  </div>
</section>
