---
import "@fontsource-variable/playfair-display/wght.css";
---

<section class="my-28 px-6 max-w-lg mx-auto text-center">
  <div class="space-y-2">
    <h2 class="text-lg font-bold">Your menu shouldn't be another project.</h2>
    <p>
      Make quick changes without turning updates into another task to manage.
    </p>
  </div>
</section>

<style>
  h2 {
    font-family: "Playfair Display Variable", serif;
  }
</style>
