---
import { SolutionItem } from "./SolutionItem";
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-xl font-medium">
    MenuNook is designed to speed things up.
  </h2>
  <ul class="max-w-sm mx-auto">
    <SolutionItem
      client:load
      icon="gauge"
      title="Customers know what they want quickly"
    />
    <SolutionItem
      client:load
      icon="message-check"
      title="Your staff spends less time explaining"
    />
    <SolutionItem
      client:load
      icon="clipboard-check"
      title="Clear photos build confidence"
    />
    <SolutionItem
      client:load
      icon="hand-helping"
      title="Less friction at the table or counter"
    />
  </ul>
</section>
