---
import { ProblemItem } from "./ProblemItem";
---

<section class="my-28 space-y-6 px-4 max-w-xl mx-auto">
  <h2 class="text-center text-xl font-medium">
    Running a restaurant is already hard. <br /><span
      >Your menu shouldn't slow things down.</span
    >
  </h2>
  <ul class="max-w-sm mx-auto">
    <ProblemItem
      client:load
      icon="hourglass"
      text="Customers can often take long to decide"
    />
    <ProblemItem
      client:load
      icon="message"
      text="They ask the same questions over and over"
    />
    <ProblemItem
      client:load
      icon="file-pen"
      text="Printed menus get outdated fast"
    />
    <ProblemItem
      client:load
      icon="search"
      text="Most QR menus are cluttered or hard to use"
    />
  </ul>
</section>
