---
import { ProblemItem } from "./ProblemItem";
---

<section class="my-28 space-y-6 px-4 max-w-md mx-auto">
  <h2 class="text-center text-xl font-medium">
    Menus change often. <br /><span
      >Keeping them accurate should be simple.</span
    >
  </h2>
  <ul class="max-w-sm mx-auto">
    <ProblemItem
      client:load
      icon="badge-dollar-sign"
      text="Prices, items, and specials change"
    />
    <ProblemItem
      client:load
      icon="file-text"
      text="Printed menus get outdated fast"
    />
    <ProblemItem
      client:load
      icon="smartphone"
      text="Guests need something clear and easy to browse"
    />
    <ProblemItem
      client:load
      icon="search"
      text="Most online menus are harder to use than they should be"
    />
  </ul>
</section>
