---
import "@fontsource-variable/eb-garamond/wght.css";
---

<div>
  <section id="hero" class="max-w-md mx-auto mt-24 sm:mt-32">
    <div class="text-center px-6">
      <h1 class="text-3xl mb-4 font-bold">MenuNook</h1>
      <p class="text-lg max-w-md font-light sm:mx-auto">
        Create clean, shareable pages for products, services, specials, or
        offerings without managing a full website.
      </p>
    </div>
  </section>
</div>

<style>
  h1 {
    font-family: "EB Garamond Variable", serif;
  }
</style>
