---
import LinkButton from "./LinkButton.astro";
import "@fontsource-variable/eb-garamond/wght.css";
---

<div>
  <section id="hero" class="max-w-md mx-auto mt-20 sm:mt-32">
    <div class="text-center px-4">
      <h1 class="text-3xl mb-4 font-bold">MenuNook</h1>
      <p class="mb-8 text-lg max-w-md mx-4 sm:mx-auto">
        Create clean, shareable pages for products, services, specials, or
        offerings without managing a full website.
      </p>
      <div class="max-w-52 mx-auto">
        <LinkButton link="https://app.menunook.com" />
      </div>
    </div>
  </section>
</div>

<style>
  h1 {
    font-family: "EB Garamond Variable", serif;
  }
</style>
