<div>
  <main>
    <section id="hero" class="max-w-xl mx-auto">
      <div class="text-center mt-36 px-4">
        <h1 class="text-3xl mb-4 font-semibold">
          Keep your menu updated and easy to access.
        </h1>
        <p class="mb-8">
          Make changes anytime and share a clean menu by link or QR code.
        </p>
        <a
          href="https://app.menunook.com"
          class="bg-neutral-950 text-white px-4 py-2 rounded-lg hover:bg-neutral-800 transition text-sm"
          >Create your menu
        </a>
      </div>
    </section>
  </main>
</div>
