<div>
  <main>
    <section id="hero" class="max-w-xl mx-auto">
      <div class="text-center mt-36 px-4">
        <h1 class="text-3xl mb-4 font-medium">
          Turn Your Menu Into an Experience
        </h1>
        <p class="mb-8">
          A multimedia digital menu built for restaurants that care about craft.
          Help guests see, hear, and understand every dish.
        </p>
        <a
          href="https://app.menunook.com"
          class="bg-neutral-950 text-white px-4 py-2 rounded-lg hover:bg-neutral-800 transition text-sm"
          >Get Started</a
        >
      </div>
    </section>
  </main>
</div>
