---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div>
  <main>
    <section id="hero" class="max-w-xl mx-auto">
      <div class="text-center mt-24 px-4">
        <h1 class="text-2xl mb-4 font-medium">
          Let People See What You're Selling
        </h1>
        <p class="mb-8">
          Instantly share your products and prices. No website required.
        </p>
        <a
          href="https://app.menunook.com"
          class="bg-neutral-950 text-white px-4 py-2 rounded-full hover:bg-neutral-800 transition text-sm"
          >Create Your Menu</a
        >
      </div>
    </section>
  </main>
</div>
