<div>
  <main>
    <section id="hero" class="max-w-xl mx-auto">
      <div class="text-center mt-36 px-4">
        <h1 class="text-2xl mb-4 font-medium">
          Get Your Menu Online in Minutes
        </h1>
        <p class="mb-8">
          No website? No problem! Share your products and prices instantly.
        </p>
        <a
          href="https://app.menunook.com"
          class="bg-neutral-950 text-white px-4 py-2 rounded-full hover:bg-neutral-800 transition text-sm"
          >Create Your Menu</a
        >
      </div>
    </section>
  </main>
</div>
