---
import "@fontsource-variable/geist-mono";
import "@fontsource-variable/geist";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>MenuNook</title>
    <meta
      name="description"
      content="Build, customize, and share professional menus in minutes. Perfect for pop-ups, small kitchens, and food creators."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.menunook.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MenuNook" />
    <meta
      property="og:description"
      content="Build, customize, and share professional menus in minutes. Perfect for pop-ups, small kitchens, and food creators."
    />
    <meta
      property="og:image"
      content="https://www.menunook.com/menunook-og.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="menunook.com" />
    <meta property="twitter:url" content="https://www.menunook.com/" />
    <meta name="twitter:title" content="MenuNook" />
    <meta
      name="twitter:description"
      content="Build, customize, and share professional menus in minutes. Perfect for pop-ups, small kitchens, and food creators."
    />
    <meta
      name="twitter:image"
      content="https://www.menunook.com/menunook-og.png"
    />
  </head>
  <body class="bg-stone-100">
    <div class="max-w-xl mx-auto">
      <nav
        class="flex items-center justify-between py-3 top-0 bg-stone-100 backdrop-blur-md px-4 z-10 fixed w-full max-w-xl"
      >
        <div class="flex items-center gap-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="oklch(59.2% 0.249 0.584)"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="size-4"
            ><path d="M15 12h-5"></path><path d="M15 8h-5"></path><path
              d="M19 17V5a2 2 0 0 0-2-2H4"></path><path
              d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"
            ></path></svg
          >
          <a href="/" class="font-medium">MenuNook</a>
        </div>
        <a
          href="https://app.menunook.com"
          class="bg-neutral-950 text-white px-4 py-2 rounded-lg hover:bg-neutral-800 transition text-xs"
          >Create Your Menu</a
        >
      </nav>
    </div>
    <slot />
    <footer>
      <div
        class="max-w-xl mx-auto text-center mb-16 px-4 text-sm text-neutral-600"
      >
        <p>&copy; {new Date().getFullYear()} MenuNook. All rights reserved.</p>
        <a
          href="https://internetdrew.com"
          class="text-pink-600 hover:underline underline-offset-4"
          >An InternetDrew Experience</a
        >
      </div>
    </footer>
  </body>
</html>

<script></script>

<style>
  html,
  body {
    /* font-family: "Geist Mono Variable", monospace; */
    font-family: "Geist Variable", sans-serif;
  }
</style>
