---
import "../styles/global.css";
import "@fontsource-variable/ibm-plex-sans/wght.css";
import "@fontsource-variable/eb-garamond/wght.css";
import "@fontsource-variable/playfair-display/wght.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="msapplication-TileColor" content="#fafaf9" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#fafaf9" />
    <meta name="generator" content={Astro.generator} />
    <title>A Simple Page For What You Sell | MenuNook</title>
    <link rel="canonical" href="https://www.menunook.com/" />
    <meta
      name="description"
      content="Create a simple, shareable page for what you sell without managing a whole website."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.menunook.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="A Simple Page For What You Sell | MenuNook"
    />
    <meta
      property="og:description"
      content="Create a simple, shareable page for what you sell without managing a whole website."
    />
    <meta property="og:image" content="https://www.menunook.com/nook-og.png" />
    <meta property="og:image:alt" content="MenuNook menu page preview" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="www.menunook.com" />
    <meta property="twitter:url" content="https://www.menunook.com/" />
    <meta
      name="twitter:title"
      content="A Simple Page For What You Sell | MenuNook"
    />
    <meta
      name="twitter:description"
      content="Create a simple, shareable page for what you sell without managing a whole website."
    />
    <meta name="twitter:image" content="https://www.menunook.com/nook-og.png" />
    <meta name="twitter:image:alt" content="MenuNook menu page preview" />
  </head>
  <body class="bg-neutral-50">
    <nav class="flex items-center justify-between p-4 max-w-2xl mx-auto">
      <a href="/" class="title font-semibold text-lg">MenuNook</a>
      <a
        href="https://app.menunook.com"
        class="underline underline-offset-4 decoration-neutral-300 text-neutral-700 hover:decoration-neutral-500 hover:text-neutral-800 transition duration-300 sm:text-sm"
        >Login</a
      >
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <div
        class="max-w-xl mx-auto text-center mb-16 px-4 text-sm text-neutral-700"
      >
        <p>&copy; {new Date().getFullYear()} MenuNook. All rights reserved.</p>
        <a
          href="https://internetdrew.com"
          class="underline underline-offset-4 decoration-neutral-300 hover:decoration-neutral-500 hover:text-neutral-800 transition duration-300"
          >An InternetDrew Experience</a
        >
      </div>
    </footer>
  </body>
</html>

<script></script>

<style>
  html,
  body {
    font-family: "IBM Plex Sans Variable", sans-serif;
  }
  .title {
    font-family: "Playfair Display Variable", serif;
  }
</style>
